body {
    font-family: Roboto;
}

.certificate-container {
    padding: 50px;
    width: 1024px;
    padding-bottom: 15px !important;
}
.certificate {
    border: 20px ridge #44906a;
    padding: 25px;
    height: 600px;
    position: relative;
}

.certificate:after {
    content: '';
    top: 0px;
    left: 117px;
    bottom: 0;
    right: 0px;
    position: absolute;
    background-image: url('../images/logo.png');
    opacity: 0.07;
    background-size: 100%;
    z-index: 4;
    width: 664px;
    background-position: center;
}

.certificate-header > .logo {
    width: 80px;
    height: 80px;
}

.certificate-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.certificate-title {
    text-align: center;    
}

.certificate-body {
    text-align: center;
}

h1 {

    font-weight: 400;
    font-size: 48px;
    color: #0C5280;
}

.student-name {
    font-size: 24px;
    font-family: cursive;
}

.certificate-content {
    margin: 0 auto;
    width: 750px;
}

.about-certificate {
    width: 380px;
    margin: 0 auto;
}

.topic-description {

    text-align: center;
}

.col-md-6{
    width: 50%;
    display: inline-block;
}

.certificate-footer{
    margin-top: 100px;
}

.cursiveName{
    font-family: cursive;
}

.printBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-right: 50px;
  }
  
  .printBtn {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .getCertForm{
    display: flex;
    justify-content: space-around;
    margin: 10px;
  }
  .cardPadding{
    padding: 50px;
  }

  .textField{
    width: 40%;
  }

  .certBtn{
    width: 30%;
  }
  








